---
export const prerender = true;
import { Image } from 'astro:assets';

import BaseLayout from '../layouts/BaseLayout.astro';
import MV from '../components/mv.astro';
import ContentWrapper from '../components/ContentWrapper.astro';
import Button from '../components/Button.astro';
import Heading from '../components/Heading.astro';
import Card from '../components/Card.astro';
import Text from '../components/Text.astro';

import Logo from '../assets/images/logo.svg';
import CardImg from '../assets/images/card_img.jpg';
import AichiMap from '../assets/images/aichi_map.png';
import Tooltip from '../components/Tooltip.astro';

import TopIcon01 from '../assets/images/top_icon_01.svg';
import TopIcon02 from '../assets/images/top_icon_02.svg';
import TopIcon03 from '../assets/images/top_icon_03.svg';
import TopIcon04 from '../assets/images/top_icon_04.svg';
import TopIcon05 from '../assets/images/top_icon_05.svg';
import TopIcon06 from '../assets/images/top_icon_06.svg';

let response = await fetch('https://dooshin.net/shiten_wp/wp-json/wp/v2/posts?per_page=3&context=embed&acf_format=standard');
if (!response.ok) {
	throw new Error(`HTTP error! status: ${response.status}`);
}
let posts = await response.json();
---

<BaseLayout title="SHITEN" description="SHITEN いままで知らなかった、まちの視点" pageName="home">
	<MV />
	<ContentWrapper>
		<section class="p-top-articles u-margin__top--sp56 u-margin__top144">
			<Heading type="h2" heading="視点の専門家に聞く" icon="ear" className="js-fadeIn" />
			<Text className="u-margin__top--sp24 u-margin__top32 js-fadeIn"
				>まちを楽しむには「視点」が必要なのでは？<br class="c-br-sm" />面白いマニアックなまちの見方、楽しめるまちの見方を持っている方々の記事はこちらから。
			</Text>
			<div class="l-grid u-margin__top40">
				{
					posts.map(post => (
						<article class="l-grid__item">
							<Card
								title={post.title.rendered}
								url={`/article/${post.slug}`}
								image={post.thumbnail_url ? post.thumbnail_url.url : { CardImg }}
								role={`${post.acf.role}`}
								description={post.excerpt.rendered.slice(0, 114)}
								date={post.date}
								title={post.acf.name}
								className="js-fadeIn"
							/>
						</article>
					))
				}
			</div>
			<div class="p-button u-center js-fadeIn">
				<Button url="/article" title="一覧はこちら" className="u-margin__topsp44  u-margin__top64" />
			</div>
			<Image src={TopIcon01} alt="" class="c-top-icon p-top-articles__icon js-fadeIn" />
			<Image src={TopIcon02} alt="" class="c-top-icon p-top-articles__icon p-top-articles__icon--secondary js-fadeIn" />
		</section>
		<section class="p-top-info u-margin__top--sp56 u-margin__top144">
			<Heading type="h2" heading=`<img src=${Logo.src} class="c-shiten__logo" alt="SHITEN" width="320" height="72" />とは` icon="info" className="c-heading-h2__icon--info js-fadeIn" />

			<Text lineHeight="loose" className="u-center u-margin__top--sp64 u-margin__top104 js-fadeIn">
				暮らしているまちを楽しむには、<br class="c-br-sm" />どうしたらいいのだろう。<br />
				まちを楽しむには<br class="c-br-sm" />「視点」が必要なのでは？
				<br />
				そのような仮説に基づいて<br class="c-br-sm" />「視点」を知るまちのポータルメディアです。
			</Text>

			<div class="p-button u-center js-fadeIn">
				<Button url="/about" title="詳しくはこちら" className="u-margin__topsp44  u-margin__top64" />
			</div>
			<Image src={TopIcon03} alt="" class="c-top-icon p-top-info__icon js-fadeIn" />
			<Image src={TopIcon04} alt="" class="c-top-icon p-top-info__icon p-top-info__icon--secondary js-fadeIn" />
		</section>
		<section class="p-top-map u-margin__top--sp56 u-margin__top144 u-margin__bottom--sp56 u-margin__bottom96">
			<Heading type="h2" heading="みんなの視点MAP" icon="map" className="js-fadeIn" />
			<Text lineHeight="loose" className="u-margin__bottom64 u-margin__bottom--sp48 u-margin__top32 u-margin__top--sp16 js-fadeIn"> アイコンをクリックすると、記事を読むことができます。 </Text>
			<div class="u-margin__top64 u-margin__top--sp48 p-map js-fadeIn">
				<Image src={AichiMap} alt="愛知県の地図" />
				<Tooltip className="p-map__inuyama" title="犬山城" url="/article/inuyamajo" />
			</div>
			<Image src={TopIcon05} alt="" class="c-top-icon p-top-map__icon js-fadeIn" />
			<Image src={TopIcon06} alt="" class="c-top-icon p-top-map__icon p-top-map__icon--secondary js-fadeIn" />
		</section>
	</ContentWrapper>
</BaseLayout>

<script type="module">
	if (typeof window !== 'undefined') {
		const script1 = document.createElement('script');
		script1.src = 'https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js';
		document.head.appendChild(script1);

		const script2 = document.createElement('script');
		script2.src = 'https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js';
		document.head.appendChild(script2);

		script2.onload = () => {
			const gsap = window.gsap;
			const ScrollTrigger = gsap.ScrollTrigger;
			gsap.registerPlugin(ScrollTrigger);

			const fadeIn = document.querySelectorAll('.js-fadeIn');
			fadeIn.forEach(fade => {
				gsap.fromTo(
					fade,
					{
						opacity: 0,
						y: 10,
					},
					{
						opacity: 1,
						y: 0,
						duration: 0.3,
						scrollTrigger: {
							trigger: fade,
							start: 'top 80%',
							end: 'bottom bottom',
							scrub: true,
						},
					},
				);
			});
		};
	}
</script>
