---
export const prerender = true;
import { Image } from 'astro:assets';

import BaseLayout from '../layouts/BaseLayout.astro';
import MV from '../components/mv.astro';
import ContentWrapper from '../components/ContentWrapper.astro';
import Button from '../components/Button.astro';
import Heading from '../components/Heading.astro';
import Card from '../components/Card.astro';
import Text from '../components/Text.astro';

import Logo from '../assets/images/logo.svg';
import CardImg from '../assets/images/card_img.jpg';
import AboutImg01 from '../assets/images/about_img_01.jpg';
import AboutImg02 from '../assets/images/about_img_02.jpg';
import AboutImg03 from '../assets/images/about_img_03.jpg';
import AichiMap from '../assets/images/aichi_map.png';
import { p, p } from 'shikiji-core/dist/chunk-types.mjs';

let response = await fetch('https://dooshin.net/shiten_wp/wp-json/wp/v2/posts?per_page=3&context=embed&acf_format=standard');
if (!response.ok) {
	throw new Error(`HTTP error! status: ${response.status}`);
}
let posts = await response.json();
---

<BaseLayout>
	<MV />
	<ContentWrapper>
		<section class="p-top-articles u-margin__top--sp56 u-margin__top144">
			<Heading type="h2" heading="視点の専門家に聞く" icon="ear" />
			<Text className="u-margin__top--sp24 u-margin__top32">まちを楽しむには「視点」が必要なのでは？面白いマニアックなまちの見方、楽しめるまちの見方を持っている方々の記事はこちらから。 </Text>
			<div class="l-grid u-margin__top40">
				{
					posts.map(post => (
						<article class="l-grid__item">
							<Card
								title={post.title.rendered}
								url={`/article/${post.slug}`}
								image={post.thumbnail_url ? post.thumbnail_url.url : { CardImg }}
								role={`${post.acf.role}`}
								description={post.excerpt.rendered.slice(0, 96)}
								date={post.date}
								title={post.acf.name}
							/>
						</article>
					))
				}
			</div>
			<div class="p-button u-center">
				<Button url="/article" title="一覧はこちら" className="u-margin__topsp44  u-margin__top64" />
			</div>
		</section>
		<section class="p-top-info u-margin__top--sp56 u-margin__top144">
			<Heading type="h2" heading=`<img src=${Logo.src} class="c-shiten__logo" alt="SHITEN" width="320" height="72" />とは` icon="info" className="c-heading-h2__icon--info" />

			<Text lineHeight="loose" className="u-center u-margin__top--sp64 u-margin__top104">
				暮らしているまちを楽しむには、どうしたらいいのだろう。<br />
				まちを楽しむには「視点」が必要なのでは？
				<br />
				そのような仮説に基づいて、記事を更新したり、みなさんの
				<br />Instagramでの投稿に基づいてMAP化したりして楽しむまちのポータルメディアです。
			</Text>

			<div class="p-button u-center">
				<Button url="/about" title="詳しくはこちら" className="u-margin__topsp44  u-margin__top64" />
			</div>
		</section>
		<section class="p-top-map u-margin__top--sp56 u-margin__top144 u-margin__bottom--sp56 u-margin__bottom96">
			<Heading type="h2" heading="みんなの視点MAP" icon="map" />
			<div class="u-margin__top64 u-margin__top--sp48 p-map">
				<Image src={AichiMap} alt="愛知県の地図" />
			</div>
		</section>
	</ContentWrapper>
</BaseLayout>
