---
import FormattedDate from './FormattedDate.astro';

type Props = {
	url: string;
	title: string;
	image: string;
	role: string;
	description: string;
	date: string;
	className?: string;
};
const { url, title, image, role, description, date, className } = Astro.props;
const articleDate = new Date(date);
---

<a href={url} class={`p-card ${className && className}`}>
	<div class="p-card__image">
		<img src={image} alt="" />
	</div>
	<p class="p-card__role">{role}</p>
	<h3 class="p-card__title">
		{title}
		<span class="p-card__compellation">さん</span>
	</h3>
	<p class="p-card__description">{description.substring(3)}</p>
	<FormattedDate date={articleDate} />
</a>
