---
import { Image } from 'astro:assets';
import Logo from '../assets/images/logo.svg';
import MenuIcon01 from '../assets/images/menu_icon_01.svg';
import MenuIcon02 from '../assets/images/menu_icon_02.svg';
import MenuIcon03 from '../assets/images/menu_icon_03.svg';
import MenuIcon04 from '../assets/images/menu_icon_04.svg';
import MenuIcon05 from '../assets/images/menu_icon_05.svg';
import MenuIcon06 from '../assets/images/menu_icon_06.svg';
import HouseIcon from '../assets/images/house-solid.svg';
import EarIcon from '../assets/images/ear-listen-solid.svg';
import InfoIcon from '../assets/images/circle-info-solid.svg';
---

<header class="l-header p-header">
	<h1 class="p-header__title">
		<a href="/">
			<Image src={Logo} alt="SHITEN" />
			<p class="p-header__subtitle">いままで知らなかった、まちの視点</p>
		</a>
	</h1>
</header>
<button class="p-hamburger js-hamburgerButton" aria-controls="globalNav" aria-expanded="false">
	<span class="p-hamburger__bars">
		<span class="p-hamburger__bar p-hamburger__bar--primary"></span>
		<span class="p-hamburger__bar p-hamburger__bar--secondary"></span>
		<span class="p-hamburger__bar p-hamburger__bar--territary"></span>
	</span>
	<span class="p-hamburger__menu">MENU</span>
</button>
<nav class="p-header__navigation" id="globalNav">
	<Image src={MenuIcon01} alt="" class="p-header__decoration p-header__decoration--primary" />
	<Image src={MenuIcon02} alt="" class="p-header__decoration p-header__decoration--secondary" />
	<Image src={MenuIcon03} alt="" class="p-header__decoration p-header__decoration--territery" />
	<Image src={MenuIcon04} alt="" class="p-header__decoration p-header__decoration--quaternary" />
	<Image src={MenuIcon05} alt="" class="p-header__decoration p-header__decoration--quinary" />
	<Image src={MenuIcon06} alt="" class="p-header__decoration p-header__decoration--senary" />
	<ul class="p-header__navigation-list l-section-inner">
		<li class="p-header__navigation-item"><a href="/">HOME<Image src={HouseIcon} alt="" class="p-header__navigation-item-icon" /></a></li>
		<li class="p-header__navigation-item"><a href="/article">視点の専門家に聞く<Image src={EarIcon} alt="" class="p-header__navigation-item-icon" /></a></li>
		<li class="p-header__navigation-item"><a href="/about">SHITENとは<Image src={InfoIcon} alt="" class="p-header__navigation-item-icon" /></a></li>
	</ul>
</nav>

<script type="module">
	const hamburgerButton = document.querySelector('.js-hamburgerButton');
	const hamburgerMenu = document.querySelector('.p-header__navigation');
	const hamburgerMenuItem = document.querySelectorAll('.p-header__navigation-item');
	const headerIcons = document.querySelectorAll('.p-header__decoration');
	window.addEventListener('resize', () => {
		hamburgerButton.classList.remove('is-active');
		hamburgerButton.setAttribute('aria-expanded', 'false');
		hamburgerMenu.classList.remove('is-active');
		headerIcons.forEach(icon => {
			icon.classList.remove('is-active');
		});
	});
	window.addEventListener('DOMContentLoaded', () => {
		hamburgerButton.classList.remove('is-active');
		hamburgerButton.setAttribute('aria-expanded', 'false');
		hamburgerMenu.classList.remove('is-active');
		headerIcons.forEach(icon => {
			icon.classList.remove('is-active');
		});
	});
	if (hamburgerButton) {
		hamburgerButton.addEventListener('click', () => {
			hamburgerButton.classList.toggle('is-active');
			if (hamburgerButton.getAttribute('aria-expanded') === 'true') {
				hamburgerButton.setAttribute('aria-expanded', 'false');
			} else {
				hamburgerButton.setAttribute('aria-expanded', 'true');
			}
			if (hamburgerMenu) {
				hamburgerMenu.classList.toggle('is-active');
				if (hamburgerMenu.classList.contains('is-active')) {
					setTimeout(() => {
						headerIcons.forEach(icon => {
							icon.classList.add('is-active');
						});
					}, 300);
				} else {
					headerIcons.forEach(icon => {
						icon.classList.remove('is-active');
					});
				}
			}
		});
		hamburgerMenuItem.forEach(item => {
			item.addEventListener('click', () => {
				hamburgerButton.classList.remove('is-active');
				hamburgerButton.setAttribute('aria-expanded', 'false');
				hamburgerMenu.classList.remove('is-active');
				headerIcons.forEach(icon => {
					icon.classList.remove('is-active');
				});
			});
		});
	}
</script>
