---
import ContentWrapper from './ContentWrapper.astro';

let response = await fetch('https://dooshin.net/shiten_wp/wp-json/wp/v2/posts?per_page=3&context=embed&acf_format=standard');
if (!response.ok) {
	throw new Error(`HTTP error! status: ${response.status}`);
}
let posts = await response.json();
---

<div class="p-mv">
	<ContentWrapper>
		<div class="swiper p-mv-swiper">
			<div class="swiper-wrapper p-mv-swiper__wrapper">
				{
					posts.map(post => {
						return (
							<div class="swiper-slide p-mv-swiper__slide">
								<div class="slide p-mv-swiper__slides">
									<div class="slide-media p-mv-swiper__slide-media">
										<img src={post.thumbnail_url.url} alt="" class="p-mv__icon" />
									</div>
								</div>
							</div>
						);
					})
				}
			</div>

			<div class="p-mv_contents">
				{
					posts.map(post => {
						let posttitle = post.title.rendered;
						let pattern = ' ';
						let posttitleArray = [];
						if (posttitle.match(pattern)) {
							posttitleArray = posttitle.split(pattern);
						} else {
							posttitleArray = [posttitle];
						}
						return (
							<div class="p-mv__content">
								<a class="p-mv__content-link" href={`/article/${post.slug}`}>
									<p class="p-mv__content-text">
										<span class="content-text__marker">
											{posttitleArray.slice(0, 2).map(word => (
												<span class="p-mv__content-text__markerBg">{word}</span>
											))}
										</span>
									</p>
								</a>
							</div>
						);
					})
				}
			</div>
		</div>
	</ContentWrapper>
</div>

<style is:global lang="scss"></style>

<script type="module">
	import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs';

	const slideLength = document.querySelectorAll('.p-mv .swiper-slide').length;

	const startAnimation = index => {
		let activeSlide = document.querySelectorAll('.p-mv .p-mv__content')[index];
		if (activeSlide) {
			// activeSlideが存在することを確認
			activeSlide.classList.add('is-animated');
		} else {
			console.error(`No active slide found at index ${index}`);
		}
	};
	// アニメーション終了
	const finishAnimation = () => {
		let activeSlides = document.querySelectorAll('.p-mv .p-mv__content');
		activeSlides.forEach(activeSlides => {
			activeSlides.classList.remove('is-animated');
		});
	};

	const mySwiper = new Swiper('.p-mv .swiper', {
		loop: true,
		speed: 2000,
		effect: 'fade',
		autoplay: {
			delay: 4000,
			disableOnInteraction: false,
			waitForTransition: false,
		},
		followFinger: false,
		observeParents: true,
		slidesPerView: 1,
		slidesPerGroup: 1,
		on: {
			slideChange: swiper => {
				finishAnimation();
			},
			slideChangeTransitionStart: swiper => {
				startAnimation(swiper.realIndex);
			},
		},
	});

	let swiperWrapper = document.querySelector('.swiper-wrapper');
	let firstSlide = document.querySelector('.swiper-slide');
	let clonedSlide = firstSlide.cloneNode(true);
	swiperWrapper.appendChild(clonedSlide);

	window.addEventListener('DOMContentLoaded', () => {
		setTimeout(() => {
			mySwiper.update();
			startAnimation(0);
		}, 1000);
	});
</script>
