---
import { Image } from 'astro:assets';
import Heading from './Heading.astro';
import ContentWrapper from './ContentWrapper.astro';

import X from '../assets/images/x_logo.svg';
import UrlLogo from '../assets/images/url_logo.svg';
import Facebook from '../assets/images/facebook_logo.svg';
import Line from '../assets/images/line_logo.svg';

type Props = {
	url: string;
};
const { url } = Astro.props;
---

<section class="p-share u-margin__top64 u-margin__top--sp32">
	<ContentWrapper>
		<Heading type="h3" heading="記事をシェア" className="u-center" />
		<div class="p-share__icons u-margin__top64 u-margin__top--sp32">
			<a href={`https://twitter.com/intent/tweet?url=${url}`} target="_blank" rel="noopener noreferrer" class="p-share__icon">
				<Image src={X} alt="X(旧Twitter)でシェア" />
			</a>
			<a href={`https://www.facebook.com/sharer/sharer.php?u=${url}`} target="_blank" rel="noopener noreferrer" class="p-share__icon">
				<Image src={Facebook} alt="Facebookでシェア" />
			</a>

			<a href={`https://social-plugins.line.me/lineit/share?url=${url}`} target="_blank" rel="noopener noreferrer" class="p-share__icon">
				<Image src={Line} alt="LINEでシェア" />
			</a>
			<a href="javascript:void(0);" rel="noopener noreferrer" class="p-share__icon p-share__url">
				<Image src={UrlLogo} alt="URLをコピー" />
			</a>
		</div>
	</ContentWrapper>
</section>
<script type="module">
	function copyUrl() {
		const element = document.createElement('input');
		element.value = location.href;
		document.body.appendChild(element);
		element.select();
		document.execCommand('copy');
		document.body.removeChild(element);
		alert('URLをコピーしました');
	}
	document.querySelector('.p-share__url').addEventListener('click', copyUrl);
</script>
