---
type Props = {
	url: string;
	title: string;
	className?: string;
};

import Map from '../assets/images/map-point-wave.svg';
const { url, title, className } = Astro.props;
---

<div class=`c-tooltop ${className}`>
	<button class=`c-tooltop__button js-tooltip ` title={title} aria-label="tooltip">
		<span class="c-tooltip__icon" aria-labelledby="tooltip" aria-describedby="tooltip" tabindex="0">
			<img src={Map.src} alt="" />
		</span>
	</button>
	<a href={url} class="c-tooltip__content js-tooltip__content" title={title} area-labelledby={`tooltip-${url}_link`} id={`tooltip-${url}`}>
		<span id={`tooltip-${url}_link`} role="tooltip">{title}</span>
	</a>
</div>

<script type="module">
	const tooltip = document.querySelectorAll('.js-tooltip');
	tooltip.forEach(tip => {
		tip.addEventListener('click', () => {
			tip.classList.toggle('is-active');
			tip.nextElementSibling.classList.toggle('is-active');
		});
	});
</script>
