---
type Props = {
	url: string;
	title: string;
	className?: string;
};

import Map from '../assets/images/map-point-wave.svg';
const { url, title, className } = Astro.props;
---

<button class=`c-tooltop js-tooltip ${className}` role="tooltip" aria-labelledby="tooltip" title={title} aria-label="tooltip">
	<span class="c-tooltip__icon">
		<img src={Map.src} alt="" />
	</span>
	<a href={url} class="c-tooltip__content js-tooltip__content" title={title} area-label="tooltip-link" area-labelledby={`tooltip-${url}_link`} id={`tooltip-${url}`}>
		<span id={`tooltip-${url}_link`}>{title}</span>
	</a>
</button>

<script type="module">
	const tooltip = document.querySelectorAll('.js-tooltip');
	tooltip.forEach(tip => {
		tip.addEventListener('click', () => {
			tip.classList.toggle('is-active');
		});
	});
</script>
