---
export const prerender = false;
import BaseLayout from '../../layouts/BaseLayout.astro';
import ContentWrapper from '../../components/ContentWrapper.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Heading from '../../components/Heading.astro';
import Text from '../../components/Text.astro';
import Card from '../../components/Card.astro';
import CardImg from '../../assets/images/card_img.jpg';

let response = await fetch('https://dooshin.net/shiten_wp/wp-json/wp/v2/posts?context=embed&acf_format=standard');
if (!response.ok) {
	throw new Error(`HTTP error! status: ${response.status}`);
}
let posts = await response.json();
---

<BaseLayout title={`視点の専門家に聞く | ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
	<section class="u-margin__top144 u-margin__bottom96">
		<ContentWrapper>
			<Heading type="h1" heading="視点の専門家に聞く" icon="ear" className="u-margin__inline" />
			<Text className="u-margin__top32">まちを楽しむには「視点」が必要なのでは？面白いマニアックなまちの見方、楽しめるまちの見方を持っている方々の記事はこちらから。</Text>
			<ul class="l-grid u-margin__top72">
				{
					posts.map(post => (
						<>
							<li class="i-grid__item">
								<Card
									title={post.title.rendered}
									url={`/article/${post.slug}`}
									image={post.thumbnail_url ? post.thumbnail_url.url : { CardImg }}
									role={`${post.acf.role}`}
									description={post.excerpt.rendered}
									date={post.date}
									title={post.acf.name}
								/>
							</li>
						</>
					))
				}
			</ul>
		</ContentWrapper>
	</section>
</BaseLayout>
